#content
  h2 About
  
  p 
    |This is the stats site for the Pop Punk/Rock/Alternative/Emo room (aka PPRAE, BestRoomOnTT) 
    | on Turntable.fm
  p
    | Our room's key genres are clear from the name but we've evolved into a play anything 
    | (but dubstep) room. We like to keep it open ended, but keep in mind the core tastes of the 
    | crowd when you queue a song.  Just because it's play anything doesn't necessarilly mean 
    | everything will be well received.

  p= "AFK DJ's wil be removed from the decks if they are idle for more than 15 minutes."
  
  p
    a(href="http://www.last.fm/group/Best+Room+on+Turntable.FM", target="_blank")="Best Room on TT last.fm group."
  p
    | This site not affiliated with or endorsed by
    a(href="http://turntable.fm", target="_blank")="Turntable.fm"
    |  in any way.

  br
  
  h4 Mods
  
  ul.callouts
    li TheRareCreature (Creator)
    li DJ DORFPIMP (Co-Creator and resident Super User)
    li Neesh (Social Media Queen and Top DJ)
    li THEdickhatch
    li Mriss**
    li Zachery Attackary**
    li Jonny Jump Up
    li Colleens2sweet
    li Tired Tigress
    li MegTifft
    li T-Dork
    li EazyCheez88
    li punkyou**
  
  p.callouts
    ** may be some variation(or something completely different), likes to change their name periodically
  
  br
  
  h4 Props
  .callouts
    p Mad props to all the super cool users and solid group of regulars in the room that make PPRAE so much fun day in and day out!
    
    p= "This bot and website was created by Turntable.fm Dj Jonny Jump Up: "
      a(href="http://jonathonmunsell.com", target="_blank")="Jonathon Munsell "
      a(href="http://twitter.com/munsell", target="_blank")="(Twitter) "
      a(href="https://github.com/munsellj", target="_blank")="(Github) "
    p= "Original bot and website was created by Turntable.fm Dj Jerk: "
      a(href="http://www.scottwernerd.com", target="_blank")="Scott Werner "
      a(href="http://twitter.com/scottwisme", target="_blank")="(Twitter) "
      a(href="http://github.com/swerner", target="_blank")="(Github) "
      a(href="http://github.com/swerner/PostRockAndBeyond", target="_blank")="(Bot Source Code)"

    p= "Also props to Turntable.fm DJs MashTheSandwich and Dj Damien"
  
