#content
  h2= "Contact"
  p= "Most of the time you can find us in the "
    a(href="http://turntable.fm/pop_punkrockalternativeemo", target="_blank")="Pop Punk/Rock/Alternative/Emo"
    |  room on
    a(href="http://turntable.fm", target="_blank")="Turntable.fm"
  p= "For bot and website questions and inquiries contact Jonathon Munsell on "
    a(href="http://twitter.com/munsellj", target="_blank")="Twitter"
    |  or
    a(href="https://github.com/munsellj", target="_blank")="Github"

